.year {
  margin-top: 0;
  font-style: italic;
  color: white;
}

.navbar-nav {
  font-size: 1.2rem;
}

main {
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  main {
    overflow: auto;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .row {
    --bs-gutter-x:0px !important;
  }
  .profile {
    width: 300px !important;
    font-size: 10px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .content {
    font-size:10px !important;
  }
  .content h3 {
    font-size: 18px !important;
  }
  .content h5 {
    font-size: 12px !important;
  }

  .right {
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 426px) {
  .profile {
    padding-top: 80px !important;
    padding-bottom: 0px !important;
  }
  .image {
    width: 240px !important;
  }
}